<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
                <a href=""> <img src="../../../assets/linkedin.png" alt=""></a>
                <a href=""> <img src="../../../assets/twitter.png" alt=""></a>
                <a href=""> <img src="../../../assets/instagram.png" alt=""></a>
                <a href=""> <img src="../../../assets/github.png" alt=""></a>
                <a href=""> <img src="../../../assets/facebook.png" alt=""></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="isLogged">CERRAR SESION</button>             
        </div>
    </div>

</div>


